<section id="merchant_info">
<%= render partial: "partials/merchant_header" %>
</section>



<% @merchant.distinct_invoices.each do |invoice| %>
  <p> <%= link_to invoice.id, merchant_invoice_path(@merchant, invoice) %>: <%= invoice.status %></p>
  <p>----------------------------------------</p>
<% end %>