<h1><%= @merchant.name %>'s Items </h1>


<% @merchant.items.each do |item| %>
<div id="item_<%= item.id %>">
  <p> <%= item.name %> </p>
  <p> <%= item.status %> </p>
</div>
  <p>----------------------------------------</p>
<% end %>

