<section id="merchant_info">
<%= @merchant.name %>
</section>
<section id="dashboard_nav">
<%= link_to "My Items", merchant_items_path %>
<%= link_to "My Invoices", merchant_invoices_path %>
</section>
<section id="dashboard_stats">
<% Customer.top_customers_for_merchant(@merchant.id).each do |customer| %>
    <br>
    <%= customer.first_name + " " + customer.last_name + ":  " + customer.successful_transactions_count.to_s %>
    <br>
<% end %>
</section>